[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
charset-normalizer = "*"
aiofiles = "*"
aiocsv = "*"
promobot-appeal-processing= "*"
fastapi = "*"
pydantic = "*"
python-multipart = "*"
uvicorn = {extras = ["standard"], version = "*"}
aiosqlite = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
